* {
    font-family: "Roboto" !important; 
    color: white !important;
    margin: 0 !important;
  }
  .Card{
    justify-content: center !important;
    text-align: center !important;
    background-color: #18212D !important;
    border-radius: 2em !important;
  }
  .leftCard{
    border-radius: 0px !important 
  }
  .cardTitle{
    justify-content: center !important;
  }
  .cardText{
    font-size:large;
  }
  .img{
    left: 50%;
    transform: translate( -50%);
  }
  .mainText{
    font-size: 1.6em;
  }
  .subText{
    color: #7E7F7E !important; 
    font-size: 1.3em;
  }
  .dailyTempText{
    font-size: 1.3em;

  }
  .dailyTempSubText{
    color: #7E7F7E !important; 
    font-size: 1.3em;
    margin-left: 1rem !important;
  }

  @media only screen and (max-width: 600px) {
    .sliderCard{
      width: 50% !important;
    }
    .forcastCard{
      justify-content: center !important;
      text-align: center !important;
      background-color: #18212D !important;
      border-radius: 1em !important;
      min-width: 100%;
    }
    .forcastTitle{
      word-spacing: 10px !important; 
    }
    .sectionTitle{
      text-align: center;
    }
  }